<a id="1"></a>
<span style="display: block; text-align: center; background-color: #40E0D0; font-family: Times New Roman; color: white; padding: 14px; line-height: 1; border-radius: 20px; font-size: 2em;">EXPLORATORY DATA ANALYSIS ROADMAP</span>

In [2]:
# for analysis
import numpy as np
import pandas as pd
# for visualization
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
# plotly for visualization
import plotly
import plotly.express as px
import plotly.graph_objects as go
# for missing values matrix
import missingno as msno
# for showing the graphics
%matplotlib inline
# to see all the columns
pd.set_option('display.max_columns', None)
# platform to access python version
import platform
# for warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [3]:
df = pd.read_csv('co2.csv')

In [4]:
df

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,10.7,26,248

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

In [6]:
#select columns of object type from a dataframe
df_object = df.select_dtypes(include='object')
df_object

       Make        Model   Vehicle Class Transmission Fuel Type
0     ACURA          ILX         COMPACT          AS5         Z
1     ACURA          ILX         COMPACT           M6         Z
2     ACURA   ILX HYBRID         COMPACT          AV7         Z
3     ACURA      MDX 4WD     SUV - SMALL          AS6         Z
4     ACURA      RDX AWD     SUV - SMALL          AS6         Z
...     ...          ...             ...          ...       ...
7380  VOLVO  XC40 T5 AWD     SUV - SMALL          AS8         Z
7381  VOLVO  XC60 T5 AWD     SUV - SMALL          AS8         Z
7382  VOLVO  XC60 T6 AWD     SUV - SMALL          AS8         Z
7383  VOLVO  XC90 T5 AWD  SUV - STANDARD          AS8         Z
7384  VOLVO  XC90 T6 AWD  SUV - STANDARD          AS8         Z

[7385 rows x 5 columns]

In [14]:
#select columns of numerical type from a dataframe
df_numeric = df.select_dtypes(include='number')
df_numeric

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,2.0,4,9.9,6.7,8.5,33,196
1,2.4,4,11.2,7.7,9.6,29,221
2,1.5,4,6.0,5.8,5.9,48,136
3,3.5,6,12.7,9.1,11.1,25,255
4,3.5,6,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...
7380,2.0,4,10.7,7.7,9.4,30,219
7381,2.0,4,11.2,8.3,9.9,29,232
7382,2.0,4,11.7,8.6,10.3,27,240
7383,2.0,4,11.2,8.3,9.9,29,232
7384,2.0,4,12.2,8.7,10.7,26,248

In [12]:
from summarytools import dfSummary

In [13]:
dfSummary(df)

In [15]:
def SuperInfo(df, dropna=False):
    """
    Returns a dataframe consisting of datatypes, nuniques, #s of nulls head(1), most frequent item and its frequncy,
    where the column names are indices.
    """
    dt=pd.DataFrame(df.dtypes, columns=["Type"])
    dn=pd.DataFrame(df.nunique(), columns=["Nunique"])
    nonnull=pd.DataFrame(df.isnull().sum(), columns=["#of Missing"])
    firstT=df.head(1).T.rename(columns={0:"First"})
    MostFreqI=pd.DataFrame([df[x].value_counts().head(1).index[0] for x in df.columns], columns=["MostFreqItem"],index=df.columns)
    MostFreqC=pd.DataFrame([df[x].value_counts().head(1).values[0] for x in df.columns], columns=["MostFreqCount"],index=df.columns)
    return pd.concat([dt,dn,nonnull,MostFreqI,MostFreqC,firstT],axis=1)

In [16]:
SuperInfo(df)

,Type,Nunique,#of Missing,MostFreqItem,MostFreqCount,First
Make,object,42,0,FORD,628,ACURA
Model,object,2053,0,F-150 FFV 4X4,32,ILX
Vehicle Class,object,16,0,SUV - SMALL,1217,COMPACT
Engine Size(L),float64,51,0,2.0,1460,2.0
Cylinders,int64,8,0,4,3220,4
Transmission,object,27,0,AS6,1324,AS5
Fuel Type,object,5,0,X,3637,Z
Fuel Consumption City (L/100 km),float64,211,0,10.8,125,9.9
Fuel Consumption Hwy (L/100 km),float64,143,0,7.8,209,6.7
Fuel Consumption Comb (L/100 km),float64,181,0,9.4,145,8.5
Fuel Consumption Comb (mpg),int64,54,0,25,482,33
CO2 Emissions(g/km),int64,331,0,242,85,196

In [17]:
def value_counts(df):
    for i in df.columns:
        if len(df[i].unique()) < 10:
            print(i)
            print("*****values counts*****")
            print(df[i].value_counts())
            print("")

In [18]:
value_counts(df)

Cylinders
*****values counts*****
Cylinders
4     3220
6     2446
8     1402
12     151
3       95
10      42
5       26
16       3
Name: count, dtype: int64

Fuel Type
*****values counts*****
Fuel Type
X    3637
Z    3202
E     370
D     175
N       1
Name: count, dtype: int64

In [20]:
df.duplicated().sum()

1103